.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln


.vscode
static/css/*
oil_mall.tar.gz
oil_mall/*
dist.zip
vendor-manifest.json
