<!--[if lt IE 10]>
<script type="text/javascript">
  var html = document.createElement('div')
  html.innerHTML = '<div class="scane-app" style="position:relative;z-index:10030" id="ie-modal">'+
          '<i class="inner-layer" style="width: 100%;height: 100%;background: rgba(0,0,0,0.6);position: fixed;top: 0;left: 0;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);"></i>'+
          '<div class="inner-pop" style="width: 280px;height: 293px;background: #fff;position: fixed;top: 50%;left: 50%;margin: -147px 0 0 -140px;text-align: center;font-size: 14px;border-radius: 4px;">'+
          '<img src="http://ci.xiaohongshu.com/72d68e32-458d-4c42-a909-00e056bdd9bd" width=100 style="margin: 30px 0"/>'+
          '<p style="margin:0;color:#333">啊欧，你的浏览器有兼容性问题。</p>'+
          '<p style="margin:0;color:#333">为获得网站的最佳体验效果，</p>'+
          '<p style="margin:0;color:#333">请升级你的浏览器噢。</p>'+
          '<span id="sureBtn" style="color: #5b92e1;font-weight: 500;display: block;margin: 20px 0 0;cursor: pointer;">确定</span>'+
          '</div>'+
          '</div>'
  document.body.appendChild(html)
  document.getElementById('sureBtn').onclick = function () {
    document.getElementById('ie-modal').style.display = 'none'
  }
</script>
<![endif]-->
