.wrap-flex-column{
  display: flex;
  flex-direction: column;
}
.content-column{
  height: 100%;
  overflow-y: scroll;
}
.flex{
  display: flex !important;

}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-item{
  flex: 1;
}
.flex-align-center{
  align-items: center !important;
}
.flex-align-start{
  align-items: flex-start !important;
}
.flex-align-end{
  align-items: flex-end !important;
}
.flex-between{
  justify-content: space-between !important;
}
.flex-end{
  justify-content: flex-end !important;
}
.flex-start{
  justify-content: flex-start !important;
}
.flex-center{
  justify-content: center !important;
}
