.item-goods{
  background: #ffffff;
  position: relative;
  .label-checkbox{
    margin-right: px2rem(20px);
  }
  .svg-trash{
    width: px2rem(33px);
    height: px2rem(36px);
    fill: #999999;
  }
}
.item-horizontal{
  padding-bottom: 0;
  display: flex;
  .item-inner{
    min-width: px2rem(320px);
    flex: 1;
  }
  .author-column + .item-inner,
  .item-media + .item-inner{
    margin-left: px2rem(20px);
  }
}
.item-media {
  display: flex;
  flex-wrap: wrap;
  position: relative;
	img{
   width: px2rem(140px);
   height: px2rem(140px);
  }
  .tag{
    position: absolute;
    left: 0;
    top: 0;
    border-radius: px2rem(5px) 0 0 0;
  }
}
.media-column{
  display: flex;
  .item-media{
    margin-right: px2rem(20px);
    &:last-child{
      margin-right: 0;
    }
    img+img{
      margin-top: px2rem(20px);
    }
  }
  .item-media-column1{
    flex: 0 0 px2rem(456px);
  }
  .item-media-column2{
    img{
      height: px2rem(162px) !important;
    }
  }
}
.media-multiple{
  display: flex;
  align-items: center;
  font-size: 0;
  .ellipsis{
    display: inline-block;
    @include font-dpr(80px);
    @include lh-dpr(12px);
    color: #dcdcdc;
    margin-top: px2rem(-46px);
  }
  .item-media{
    // max-width: px2rem(480px);
    height: px2rem(140px);
    overflow: hidden;
    justify-content: flex-start;
    .img{
      width: px2rem(140px);
      height: px2rem(140px);
      // + .img{
      //   margin-left: px2rem(20px);
      // }
    }
    img{
      width: px2rem(140px);
      height: px2rem(140px);
      // + img{
      //   margin-left: px2rem(20px);
      // }
    }
    &.item-media-multiple{
      // width: px2rem(480px);
    }
  }
  .item-sum{
    color: $color-title;
    @include font-dpr(26px);
    @include lh-dpr(36px);
    text-align: right;
    min-width: px2rem(98px);
  }
  .svg-arrow{
    fill: #999999;
  }
}
.item-inner{
	// width: 100%;
  position: relative;
}
.item-slogan{
  color: #999999;
  @include font-dpr(40px);
  min-height: px2rem(110px);
  font-family: PingFangSC-Light;
}
.item-title {
	color: $color-title;
  @include font-dpr(26px);
  @include lh-dpr(36px);
}
.item-title-arrow{
  display: flex;
  align-items: center;
  .svg-arrow{
    width: px2rem(12px);
    height: px2rem(23px);
    margin-left: px2rem(8px);
  }
}
.item-subtitle {
  color: $color-subtitle;
  @include font-dpr(22px);
  @include lh-dpr(32px);
  em{
		color: $color-red;
	}
}
.item-subtitle-sku {
  color: $color-text;
  @include font-dpr(26px);
  @include lh-dpr(32px);
  .name{
    color: $color-subtitle;
  }
  em{
		color: $color-red;
	}
}
.item-subtitle-state {
  color: $color-text;
  @include font-dpr(22px);
  @include lh-dpr(32px);
}
.item-title-english{
  @include font-dpr(24px);
  color: $color-entitle;
}
.item-text{
  color: $color-text;
  word-break: break-all;
  word-wrap: break-word;
  @include font-dpr(26px);
  @include lh-dpr(36px);
}

//价格
.item-price{
  @include font-dpr(26px);
  @include lh-dpr(36px);
  color: $color-red;
  //价格符号
	em{
		color: $color-red;
  }
  &.size-lg{
    @include font-dpr(40px);
    @include lh-dpr(56px);
    em{
      @include font-dpr(24px);
    }
  }
}
.item-price-original{
  text-decoration: line-through;
  color: #999999;
  @include font-dpr(22px);
  @include lh-dpr(40px);
  //价格符号
  em{
    color: #999999;
  }
  &.size-lg{
    @include font-dpr(28px);
  }
}
.item-price-sale{
  @include font-dpr(22px);
  color: $color-red;
  .text{
    color: $color-text;
  }
}
.item-price + .item-price-sale,
.item-price + .item-price-original,
.item-price + .tag,
.item-price-original + .tag,
.item-price-original + .item-price-sale{
  margin-left: px2rem(10px);
}
.item-price + .tag-member,
.item-price-original + .tag-member{
  margin-left: px2rem(20px);
}
.item-price + .text{
  margin-left: px2rem(10px);
}
.price-area{
  display: flex;
  align-items: center;
}
.item-count{
  @include font-dpr(26px);
  color: $color-text;
}
.item-reply{
  word-break: break-all;
  word-wrap: break-word;
  background: #f0f1f5;
  padding: px2rem(16px) px2rem(20px);
  color: $color-text;
  @include font-dpr(26px);
  @include lh-dpr(36px);
  margin-top: px2rem(12px);
  border-radius: px2rem(8px);
  p + p{
    margin-top: px2rem(20px);
  }
}
//作者栏
.author-column{
  display: flex;
  align-items: center;
  font-size: 0;
  // vertical-align: top;
  // padding-top: px2rem(10px);
  @include font-dpr(26px);
  .item-left{
    display: flex;
    align-items: center;
    @include font-dpr(26px);
  }
  .item-title{
    margin-left: px2rem(10px);
  }
  .item-inner{
    margin-left: px2rem(20px);
    .item-title{
      margin-left: 0;
    }
  }
  .text{
    @include font-dpr(22px);
    @include lh-dpr(40px);
    color: #666666;
    margin-left: px2rem(16px);
  }
}
.author-avatar{
  position: relative;
  img{
    width: px2rem(40px);
    height: px2rem(40px);
    border-radius: 50%;
  }
  .svg-member-circle{
    width: px2rem(20px);
    height: px2rem(20px);
    fill: $color-primary;
    position: absolute;
    bottom: px2rem(-4px);
    right: px2rem(-4px);
    &.size-lg{
      width: px2rem(26px);
      height: px2rem(26px);
    }
  }
  .member-grade{
    width: px2rem(20px);
    height: px2rem(20px);
    position: absolute;
    right: px2rem(-5px);
    bottom: px2rem(-2px);
    background: #eeac14;
    border-radius: px2rem(32px);
    font-size: 0;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    .svg-member-grade{
      width: px2rem(10px);
      height: px2rem(10px);
      vertical-align: baseline;
    }
    .num{
      @include font-dpr(12px);
    }
  }
  .member-grade{
    width: px2rem(20px);
    height: px2rem(20px);
    position: absolute;
    right: px2rem(-5px);
    bottom: px2rem(-2px);
    background: #eeac14;
    border-radius: px2rem(32px);
    font-size: 0;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    .svg-member-grade{
      width: px2rem(10px);
      height: px2rem(10px);
      vertical-align: baseline;
    }
    .num{
      @include font-dpr(12px);
    }
  }
}

//进度条
.progress-colunm{
  display: flex;
  align-items: center;
  margin-top: px2rem(22px);
  .progress{
    flex: 1;
  }
  .text{
    margin-left: px2rem(20px);
    color: $color-red;
    @include font-dpr(22px);
    @include lh-dpr(32px);
  }
}
.progress,
.progress-bar{
  border-radius: px2rem(10px);
  height: px2rem(16px);
}
.progress{
  background: #eeeeee;
}
.progress-bar{
  background: $color-primary;
}
//两端对齐布局
.item-flex-between{
  display: flex;
  justify-content: space-between;
}
.item-flex-end{
  display: flex;
  justify-content: flex-end;
}
.item-align-center{
  display: flex;
  align-items: center;
}
.item-align-end{
  display: flex;
  align-items: flex-end;
}
//定位在列表底部
.item-bottom{
	width: 100%;
	position: absolute;
	bottom: 1px;
}

/*
 	优惠券
 */
.list-coupons{
  position: relative;
  margin: 0  px2rem(30px) px2rem(30px);
  overflow: hidden;

  .svg-coupons{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .select-tag{
    position: absolute;
    right: px2rem(4px);
    top: px2rem(0px);
    z-index: 2;
    width: px2rem(59px);
    height: px2rem(54px);
    border: px2rem(30px) solid $color-border;
    border-left: px2rem(32px) solid transparent;
    border-bottom: px2rem(28px) solid transparent;
    border-radius:0 px2rem(12px) 0 0;
    visibility: hidden;
    .text{
      color: #ffffff;
      width: px2rem(60px);
      @include font-dpr(16px);
      transform: rotate(45deg);
      position: absolute;
      top: px2rem(-5px);
      right: px2rem(-55px);
    }
    svg{
      fill: #ffffff;
      position: absolute;
      right: px2rem(-22px);
      margin-top: px2rem(-18px);
    }
    &.has-selected{
      border: px2rem(30px) solid $color-primary;
      border-left: px2rem(32px) solid transparent;
      border-bottom: px2rem(28px) solid transparent;
    }
  }
  .disabled-img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: px2rem(-8px);
    margin-top: px2rem(-12px);
    width: px2rem(140px);
    height: px2rem(140px);
    background-image: url('../images/bg-disabled.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 2;
    color: $color-disabled;
    visibility: hidden;
    .text{
      display: inline-block;
      transform: rotate(-20deg);
      margin-top: px2rem(-5px);
      @include font-dpr(24px);
    }
  }
  .coupons-body{
    font-size: 0;
    position: relative;
    z-index: 1;
    display: flex;
    padding: px2rem(20px) px2rem(30px) px2rem(20px) 0;
    border-radius: px2rem(12px);
    height: px2rem(176px);
    overflow: hidden;
    .coupons-right{
      align-items: center;
    }
    .item-inner{
      flex: 1;
      max-width: px2rem(340px);
      padding-left: px2rem(20px);
      padding-right: px2rem(20px);
    }
    .item-title{
      width: px2rem(288px);
    }
    .item-subtitle{
      @include font-dpr(20px);
      white-space: nowrap;
      margin-top: px2rem(15px);
      + .btn-normal{
        margin-left: px2rem(24px);
      }
    }
    .details-info{
      display: flex;
      align-items: center;
      @include font-dpr(20px);
      @include lh-dpr(32px);
      margin-top: px2rem(15px);
      .text{
        width: px2rem(252px);
      }
      .svg-arrow{
        margin-left: px2rem(8px);
        fill: #999999;
        width: px2rem(20px);
        height: px2rem(18px);
      }
    }
    .btn-normal{
      min-width: px2rem(109px);
      padding: 0;
      @include font-dpr(22px);
      position: relative;
      z-index: 1  ;
    }

  }
  @media only screen and (max-width: 320px) {
    .coupons-body{
      .item-subtitle{
        @include font-dpr(16px);
        margin-top: px2rem(10px);
      }
      .details-info{
        margin-top: px2rem(5px);
      }
    }
  }
  .coupons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: $color-primary;
    width: px2rem(212px);
    height: 100%;
    padding: px2rem(25px) px2rem(10px) px2rem(5px) px2rem(10px) ;
    position: relative;
    &:after{
      content: "";
      display: inline-block;
      position: absolute;
      right: 0;
      top: px2rem(10px);
      height: 85%;
      border-left: px2rem(2px) dashed #e5e5e5;
    }
    .text{
      @include font-dpr(26px);
    }
    .text-slogan{
      @include font-dpr(30px);
    }
    .item-price{
      @include font-dpr(70px);
      width: 100%;
      text-align: center;
      em{
        @include font-dpr(30px);
      }
    }
  }
	.coupons-footer{
    background: #ffffff;
    position: relative;
    width: px2rem(622px);
    margin: 0 auto;
    margin-top: px2rem(-16px);
    padding: px2rem(34px) px2rem(30px) px2rem(18px) px2rem(30px);
    border-radius: 0 0 px2rem(12px) px2rem(12px);
    border: 1px solid #e5e5e5;
    @include font-dpr(20px);
    @include lh-dpr(28px);
    color: #999999;
    display: none;
  }
  &.coupons-selected{
    .select-tag{
      visibility: visible;
    }
  }
  &.coupons-expried,
  &.coupons-disabled{
    color: $color-disabled;
    .coupons-body .details-info .svg-arrow{
      fill: $color-disabled;
    }
    .btn-normal{
      border-color: $color-disabled;
    }
		.coupons-body{
      border-color:rgba(255,255,255, .2);
      // background: rgba(255,255,255, .8);
    }
    .btn-normal,
    .coupons-body,
    .item-title,
    .item-subtitle,
    .coupons,
    .coupons .item-price,
    .coupons .item-price em{
      color: $color-disabled;
    }
    .coupons-footer{
      display: none;
    }
  }
  &.coupons-expried{
    .svg-coupons{
      stroke: #ffffff;
    }
    .disabled-img{
      visibility: visible;
    }
    .btn-normal{
      visibility: hidden;
    }
  }
}

/* 卡片 */
.card{
  background: #ffffff;
  // padding: 0 px2rem(30px);
  .card-header,
  .card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: px2rem(84px);
    padding: px2rem(15px) 0;
    @include font-dpr(26px);
    color: $color-text;
    em{
      color: $color-red;
    }
    .item-left{
      .text{
        display: inline-block;
        max-width: 80%;
        margin-left: px2rem(20px);
        @include font-dpr(22px);
      }
      .icon-form-checkbox{
        margin-right: px2rem(18px);
      }
    }
    .svg-arrow{
      width: px2rem(16px);
      height: px2rem(28px);
      fill: #666666;
      margin-left: px2rem(10px);
    }
    .item-right{
      display: flex;
      align-items: center;
      color: #666666;
      .text{
        @include font-dpr(22px);
      }
      .links-edit,
      .links-del{
        @include lh-dpr(30px);
        svg{
          width: px2rem(34px);
          height: px2rem(34px);
          fill: #333333;
          margin-right: px2rem(10px);
        }
      }
      .links-del{
        margin-left: px2rem(38px);
      }
    }
    .links{
      color: #999999;
      .svg-arrow{
        width: px2rem(12px);
        height: px2rem(20px);
        fill: #999999;
      }
    }
  }
  .card-header{
    &._border-bottom{
      border-bottom: 1px solid #eeeeee;
    }
  }
  .card-footer{
    &._border-top{
      border-top: 1px solid #eeeeee;
    }
    .item-right{
      .btn-normal{
        float: left;
        margin-right: px2rem(36px);
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}

//瀑布流
.waterfal-flow{
  display: flex;
  flex-wrap: wrap;
  .item{
    width: 0%;
    flex-grow: 1;
  }
  .aside-1{
    margin-right: px2rem(18px);
  }
  .aside-2{

  }
}
//不可用状态
.item-disabled{
  background: rgba(255,255,255, .6) !important;
  .item-title{
    color: $color-disabled;
  }
  .item-subtitle-sku{
    color: $color-disabled;
    .name{
      color: $color-disabled;
    }
  }
  .svg-minus,
  .svg-add{
    fill: $color-disabled;
  }
	.plus,
	.minus{
		border: 1px solid $color-disabled;
		color: $color-disabled;
	}
	.num{
		color: $color-disabled !important;
		border-top: 1px solid $color-disabled;
		border-bottom: 1px solid $color-disabled;
		input{
      color: $color-disabled;
      // fix safari when disabled value not render
      -webkit-text-fill-color: $color-disabled;
      opacity: 1;
		}
  }
  .item-price{
    color: $color-disabled;
    em{
      color: $color-disabled;
    }
  }
  .tag-sold-out{
    visibility: visible;
  }
	// .label-checkbox{
	// 	// visibility: hidden;
  //   // opacity: 0;
  //   input[type="checkbox"]:checked + i.icon-form-checkbox,
  //   input[type="radio"]:checked + i.icon-form-checkbox{
  //     border: none;
  //     background-color: $color-disabled;
  //     &:after{
  //       background: no-repeat center;
  //       background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20x%3D'0px'%20y%3D'0px'%20viewBox%3D'0%200%2012%209'%20xml%3Aspace%3D'preserve'%3E%3Cpolygon%20fill%3D'%23ffffff'%20points%3D'12%2C0.7%2011.3%2C0%203.9%2C7.4%200.7%2C4.2%200%2C4.9%203.9%2C8.8%203.9%2C8.8%203.9%2C8.8%20'%2F%3E%3C%2Fsvg%3E");
  //       background-size: px2rem(25px) px2rem(20px);
  //     }
  //   }
  // }

}


/*
	滑动删除
*/
.swipeout{
	position: relative;
}
.swipeout-content{
	//transform: translate3d(-.5rem, 0, 0);
	//right: .5rem;
	position: relative;
	z-index: 5;
}
.swipeout-actions{
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	background: $bg-primary;
	padding: 0 .1rem;
	font-size: .15rem;
	color: #ffffff;
	text-align: center;
}



/*
	table
*/
.list-table{
  color: #414141;
	.item{
    text-align: center;
    flex: 1;
  }
  .t-head{
    display: flex;
    @include font-dpr(30px);
    .item{
      height: px2rem(109px);
      line-height: px2rem(109px);
      background: #ffffff;
      border-bottom:  1px solid $color-border;
    }
  }
  .t-body{
    display: flex;
    @include font-dpr(30px);
    .item{
      display: flex;
      align-items: center;
      justify-content: center;
      height: px2rem(100px);
      line-height: 1.5;
      &:first-child{
        @include font-dpr(24px);
      }
    }
    &:nth-child(odd){
      background: #ffffff;
    }
    &:nth-child(even){
      background: #f0f2f5;
    }
  }
}



