<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="keywords" content="<%= htmlWebpackPlugin.options.inject_keywords %>" />
  <meta name="description" content="<%= htmlWebpackPlugin.options.inject_description %>" />
  <title>
    <%= htmlWebpackPlugin.options.inject_title %>
  </title>
  <%= htmlWebpackPlugin.options.staticHead %>
    <% if(htmlWebpackPlugin.options.inject_vendorDLL) { %>
      <script src="./static/js/<%= htmlWebpackPlugin.options.inject_vendorDLL %>"></script>
      <% } %>


        <!-- built files will be auto injected -->
</head>

<body>
  <%= htmlWebpackPlugin.options.svg %>
    <div id="app"></div>
    <%= htmlWebpackPlugin.options.staticBottom %>

</body>

</html>
