<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.inject_keywords %>" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.inject_description %>" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>关注作者</title>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/vendor/swiper/css/swiper.min.css" />
    <!-- 引入组件库 -->
    <script src="../../static/libs/flexible.js"></script>
    <script src="../../static/vendor/swiper/js/swiper.min.js"></script>
  </head>
  <body>
  <!--svg 图标集合-->
  <div class="disN">
    <?xml version="1.0" standalone="no"?>
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    </svg>
  </div>
  <div class="wrap wrap-start-pages wrap-focus-author">
    <!-- 按钮不可用状态请替换[ btn-primary ]为[ btn-disabled ] -->
    <div class="bar bar-button bar-absolute-bottom _pd-sm border-top">
      <button class="btn-normal btn-primary _solid btn-xxl">进入社群</button>
    </div>
    <!--/.bar-button -->
    <div class="content">
      <h1 class="content-title">关注你可能感兴趣的人</h1>
      <h2 class="content-subtitle">关注后可以看他们发布的精彩内容</h2>
      <div class="list-user">
        <div class=" item-goods item-horizontal">
          <div class="author-column">
            <div class="author-avatar">
              <img src="../../static/images/m/avatar.jpg" alt="avatar">
            </div>
          </div>
          <!-- /.author -->
          <div class="item-inner">
            <div class="item-title _ellipsis">In Essence</div>
            <div class="item-subtitle _ellipsis">
              官方推荐号
            </div>
            <!-- /.title -->
          </div>
          <!-- /.item-inner -->
          <div class="item-align-center">
            <label class="label-checkbox">
              <input disabled type="checkbox" name="my-radio">
              <i class="icon icon-form-checkbox">icon</i>
            </label>
          </div>
        </div>
        <!--/.item-goods 水平摆放商品-->
        <div class=" item-goods item-horizontal">
          <div class="author-column">
            <div class="author-avatar">
              <img src="../../static/images/m/avatar.jpg" alt="avatar">
            </div>
          </div>
          <!-- /.author -->
          <div class="item-inner">
            <div class="item-title _ellipsis">万般努力只为出人头地</div>
            <div class="item-subtitle _ellipsis">
                这是我的个性签名，字数限制就是这么多不能再多不能再多不能再多不能再多
            </div>
            <!-- /.title -->
          </div>
          <!-- /.item-inner -->
          <div class="item-align-center">
            <label class="label-checkbox">
              <input type="checkbox" name="my-radio">
              <i class="icon icon-form-checkbox">icon</i>
            </label>
          </div>
        </div>
        <!--/.item-goods 水平摆放商品-->
        <div class=" item-goods item-horizontal">
          <div class="author-column">
            <div class="author-avatar">
              <img src="../../static/images/m/avatar.jpg" alt="avatar">
            </div>
          </div>
          <!-- /.author -->
          <div class="item-inner">
            <div class="item-title _ellipsis">万般努力只为出人头地</div>
            <div class="item-subtitle _ellipsis">
                这是我的个性签名，字数限制就是这么多不能再多不能再多不能再多不能再多
            </div>
            <!-- /.title -->
          </div>
          <!-- /.item-inner -->
          <div class="item-align-center">
            <label class="label-checkbox">
              <input checked type="checkbox" name="my-radio">
              <i class="icon icon-form-checkbox">icon</i>
            </label>
          </div>
        </div>
        <!--/.item-goods 水平摆放商品-->
        <div class=" item-goods item-horizontal">
          <div class="author-column">
            <div class="author-avatar">
              <img src="../../static/images/m/avatar.jpg" alt="avatar">
            </div>
          </div>
          <!-- /.author -->
          <div class="item-inner">
            <div class="item-title _ellipsis">万般努力只为出人头地</div>
            <div class="item-subtitle _ellipsis">
                这是我的个性签名，字数限制就是这么多不能再多不能再多不能再多不能再多
            </div>
            <!-- /.title -->
          </div>
          <!-- /.item-inner -->
          <div class="item-align-center">
            <label class="label-checkbox">
              <input type="checkbox" name="my-radio">
              <i class="icon icon-form-checkbox">icon</i>
            </label>
          </div>
        </div>
        <!--/.item-goods 水平摆放商品-->
        <div class=" item-goods item-horizontal">
          <div class="author-column">
            <div class="author-avatar">
              <img src="../../static/images/m/avatar.jpg" alt="avatar">
            </div>
          </div>
          <!-- /.author -->
          <div class="item-inner">
            <div class="item-title _ellipsis">万般努力只为出人头地</div>
            <div class="item-subtitle _ellipsis">
                这是我的个性签名，字数限制就是这么多不能再多不能再多不能再多不能再多
            </div>
            <!-- /.title -->
          </div>
          <!-- /.item-inner -->
          <div class="item-align-center">
            <label class="label-checkbox">
              <input checked type="checkbox" name="my-radio">
              <i class="icon icon-form-checkbox">icon</i>
            </label>
          </div>
        </div>
        <!--/.item-goods 水平摆放商品-->
        <div class=" item-goods item-horizontal">
          <div class="author-column">
            <div class="author-avatar">
              <img src="../../static/images/m/avatar.jpg" alt="avatar">
            </div>
          </div>
          <!-- /.author -->
          <div class="item-inner">
            <div class="item-title _ellipsis">万般努力只为出人头地</div>
            <div class="item-subtitle _ellipsis">
                这是我的个性签名，字数限制就是这么多不能再多不能再多不能再多不能再多
            </div>
            <!-- /.title -->
          </div>
          <!-- /.item-inner -->
          <div class="item-align-center">
            <label class="label-checkbox">
              <input type="checkbox" name="my-radio">
              <i class="icon icon-form-checkbox">icon</i>
            </label>
          </div>
        </div>
        <!--/.item-goods 水平摆放商品-->
        <div class=" item-goods item-horizontal">
          <div class="author-column">
            <div class="author-avatar">
              <img src="../../static/images/m/avatar.jpg" alt="avatar">
            </div>
          </div>
          <!-- /.author -->
          <div class="item-inner">
            <div class="item-title _ellipsis">万般努力只为出人头地</div>
            <div class="item-subtitle _ellipsis">
                这是我的个性签名，字数限制就是这么多不能再多不能再多不能再多不能再多
            </div>
            <!-- /.title -->
          </div>
          <!-- /.item-inner -->
          <div class="item-align-center">
            <label class="label-checkbox">
              <input checked type="checkbox" name="my-radio">
              <i class="icon icon-form-checkbox">icon</i>
            </label>
          </div>
        </div>
        <!--/.item-goods 水平摆放商品-->
      </div>
      <!-- /.list-user -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.wrap -->
  </body>
</html>
