<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.inject_keywords %>" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.inject_description %>" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>申请售后</title>

    <!-- 引入样式 -->
    <link rel="stylesheet" type="text/css" href="../../static/vendor/swiper/css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="../../static/vendor/rocoui/css/rocoui-mobile.css" />
    <link rel="stylesheet" href="../../static/css/style.css">
    <!-- 引入组件库 -->
    <script src="../../static/libs/flexible.js"></script>
    <script src="../../static/vendor/swiper/js/swiper.min.js"></script>
  </head>
  <body>
  <!--svg 图标集合-->
  <div class="disN">
    <?xml version="1.0" standalone="no"?>
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <symbol id="svg-arrow" viewBox="0 0 438 750">
        <desc>svg 箭头</desc>
        <path d="M430.696401,395.102744 C431.18292,394.129707 432.034327,393.278299 432.399216,392.305262 C440.913291,374.547334 438.115809,352.653997 423.033733,338.423328 L79.30835,13.307281 C60.577384,-4.450647 31.02138,-3.59924 13.263452,15.131726 C-4.494476,33.862692 -3.643069,63.418696 15.087897,81.176624 L323.540682,372.966148 L16.304193,669.012709 C-2.305143,686.892267 -2.791662,716.448271 15.087897,735.057607 C24.210121,744.544719 36.494715,749.409905 48.65768,749.409905 C60.334126,749.409905 72.010572,745.031238 81.011166,736.273903 L421.574178,407.995485 C422.182326,407.387337 422.425586,406.4143 423.155363,405.806151 C423.641882,405.319632 424.1284,404.954743 424.736548,404.468225 C427.53403,401.670745 428.871956,398.265115 430.696401,395.102744 L430.696401,395.102744 L430.696401,395.102744 Z"></path>
      </symbol>
      <symbol id="svg-add" viewBox="0 0 644 643">
        <desc>svg 加</desc>
        <path d="M611.171,289.589 L354,289.589 L354,32.418 C354,14.745 339.673,0.418 322,0.418 C304.327,0.418 290,14.745 290,32.418 L290,289.589 L32.83,289.589 C15.157,289.589 0.83,303.916 0.83,321.589 C0.83,339.262 15.157,353.589 32.83,353.589 L290,353.589 L290,610.759 C290,628.432 304.327,642.759 322,642.759 C339.673,642.759 354,628.432 354,610.759 L354,353.589 L611.171,353.589 C628.844,353.589 643.171,339.262 643.171,321.589 C643.171,303.916 628.844,289.589 611.171,289.589 L611.171,289.589 Z"></path>
      </symbol>
      <symbol id="svg-minus" viewBox="0 0 644 65">
        <desc>svg 减</desc>
        <path d="M611.171,64.589 L32.83,64.589 C15.157,64.589 0.83,50.262 0.83,32.589 C0.83,14.916 15.157,0.589 32.83,0.589 L611.171,0.589 C628.844,0.589 643.171,14.916 643.171,32.589 C643.171,50.262 628.844,64.589 611.171,64.589 L611.171,64.589 Z"></path>
      </symbol>
    </svg>
  </div>
  <div class="wrap wrap-edit-topic">
    <div class="bar bar-nav _border bar-absolute-top">
      <a href="http://www.baidu.com" class="bar-item item-arrow">
        <svg class="svg-arrow _left">
          <use xlink:href="#svg-arrow" />
        </svg>
      </a>
      <div class="bar-item">申请售后</div>
    </div>
    <!--/.bar-nav-->
    <div class="content">
      <form action="" class="form-normal form-order-sale">
        <div class=" item-goods item-horizontal">
          <div class="item-media">
            <img src="../../static/images/m/img324x324.jpg">
          </div>
          <div class="item-inner">
            <div class="item-flex-between">
              <div class="item-title _ellipsis">IE呼吸顺畅精油IE呼吸顺畅精油 25ML</div>
            </div>
            <div class="item-subtitle-sku">
              <span class="name">规格：</span>9ml
              <span class="item-count">x1</span>
            </div>
          </div>
          <!-- /.item-inner -->
        </div>
        <div class="input-cloumn">
          <div class="modified">
            <div class="minus">
              <svg class="svg-minus">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-minus"></use>
              </svg>
            </div>
            <div class="num"><input type="text" value="111"></div>
            <div class="plus">
              <svg class="svg-add">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-add"></use>
              </svg>
            </div>
          </div>
          <!-- /.modified -->
        </div>
        <div class="space-20"></div>
        <div class="input-cloumn">
          <div class="item-input">
            <div class="text-grey-light">请选择服务类型</div>
          </div>
          <svg class="svg-arrow _right">
            <use xlink:href="#svg-arrow"></use>
          </svg>
        </div>
        <div class="space-20"></div>
        <div class="input-cloumn">
          <div class="item-input">
            <textarea  cols="30" rows="4" placeholder="请对您的问题进行描述"></textarea>
          </div>
        </div>
        <div class="input-cloumn">
          <div class="item-input">
            <textarea class="textarea-evluate" cols="30" rows="4"
            placeholder="评价超过10个字积分随机送拍张美美的图，表明你的生活态度"></textarea>
          </div>
        </div>
        <div class="rocoui-image-picker">
          <div class="rocoui-image-picker-list">
            <div class="rocoui-flexbox rocoui-flexbox-align-center">
              <div class="rocoui-flexbox-list">
                <div class="rocoui-image-picker-item">
                  <div class="rocoui-image-picker-item-remove"></div>
                  <div class="rocoui-image-picker-item-content" style="background-image: url(&quot;https://zos.alipayobjects.com/rmsportal/PZUUCKTRIHWiZSY.jpeg&quot;);"></div>
                </div>
              </div>
              <div class="rocoui-flexbox-list">
                <div class="rocoui-image-picker-item">
                  <div class="rocoui-image-picker-item-remove"></div>
                  <div class="rocoui-image-picker-item-content" style="background-image: url(&quot;https://zos.alipayobjects.com/rmsportal/hqQWgTXdrlmVVYi.jpeg&quot;);"></div>
                </div>
              </div>
              <div class="rocoui-flexbox-list">
                <div class="rocoui-image-picker-item">
                  <div class="rocoui-image-picker-item-remove"></div>
                  <div class="rocoui-image-picker-item-content" style="background-image: url(&quot;https://zos.alipayobjects.com/rmsportal/PZUUCKTRIHWiZSY.jpeg&quot;);"></div>
                </div>
              </div>
              <div class="rocoui-flexbox-list">
                <div class="rocoui-image-picker-item">
                  <div class="rocoui-image-picker-item-remove"></div>
                  <div class="rocoui-image-picker-item-content" style="background-image: url(&quot;https://zos.alipayobjects.com/rmsportal/hqQWgTXdrlmVVYi.jpeg&quot;);"></div>
                </div>
              </div>
              <div class="rocoui-flexbox-list">
                <div class="rocoui-image-picker-item rocoui-image-picker-upload-btn">
                  <input type="file" accept="image/*" multiple="multiple" readonly="readonly">
                  <!-- 去掉插件自带的加号，增加了这段dom -->
                  <div class="image-picker-tips-text">
                    <div class="image-picker-tips-icon">
                      <svg class="svg-add">
                        <use xlink:href="#svg-add"></use>
                      </svg>
                    </div>
                  </div>
                  <!-- /.image-picker-tips-text -->
                </div>
              </div>
            </div>
          </div>
          <div class="text-grey-light">（点击添加图片，最多上传4张）</div>
        </div>
        <!-- /.rocoui-image-picker -->
        <div class="button-block">
          <button type="button" class="btn-normal btn-primary _solid btn-xxl">提交</button>
        </div>
      </form>
    </div>
    <!-- /.content -->
  </div>
  <!-- /.wrap -->
  </body>
</html>
