<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.inject_keywords %>" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.inject_description %>" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>导航页面</title>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/vendor/swiper/css/swiper.min.css" />
    <!-- 引入组件库 -->
    <script src="../../static/libs/flexible.js"></script>
    <script src="../../static/vendor/swiper/js/swiper.min.js"></script>
  </head>
  <body>
  <!--svg 图标集合-->
  <div class="disN">
    <?xml version="1.0" standalone="no"?>
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    </svg>
  </div>
  <div class="wrap wrap-start-pages">
    <div class="content">
      <h1 class="content-title">你感兴趣的是什么？</h1>
      <h2 class="content-subtitle">最多可以选6种</h2>
      <div class="tag-block columns3">
        <span class="tag tag-xxl _ellipsis">排毒</span>
        <span class="tag tag-xxl _ellipsis _active">祛皱</span>
        <span class="tag tag-xxl _ellipsis">调节内分泌调节内分泌</span>
        <span class="tag tag-xxl _ellipsis">促进消化</span>
        <span class="tag tag-xxl _ellipsis">缓解高血压</span>
        <span class="tag tag-xxl _ellipsis">淡化疤痕</span>
        <span class="tag tag-xxl _ellipsis">排毒</span>
        <span class="tag tag-xxl _ellipsis">祛皱</span>
        <span class="tag tag-xxl _ellipsis">调节内分泌调节内分泌</span>
        <span class="tag tag-xxl _ellipsis">促进消化</span>
        <span class="tag tag-xxl _ellipsis">缓解高血压</span>
        <span class="tag tag-xxl _ellipsis">淡化疤痕</span>
      </div>
      <!-- 按钮不可用状态请替换[ btn-primary ]为[ btn-disabled ] -->
      <div class="bar bar-button bar-absolute-bottom _pd">
        <button class="btn-normal btn-primary _solid btn-xxl">进入首页</button>
      </div>
        <!--/.bar-button -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.wrap -->
  </body>
</html>
